#body 
{
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align:center;
}

.thumb
{
    margin: 5px;
    border: 2px black solid;
}

#display
{
    margin: 10px;
}

#displayBorder
{
    border:4px black solid;
}

#container img
{
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
    text-align:center;
}

#container p
{
    text-align: center;
}

#container h1 
{
    text-align: center;
}

#container h3 
{
    text-align: center;
}


